@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    font-family: 'NeoDunggeunmoPro-Regular', 'DungGeunMo', 'AppleSDGothicNeo',
      'Noto Sans KR', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    @media screen and (min-width: 720px) {
      font-size: 22px;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
}

/* CUSTOM */
.genre-selector-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 10px;
  column-gap: 16px;
  padding: 0 50px 20px;

  @media screen and (min-width: 390px) and (max-width: 720px) {
    padding: 0 30px 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 16px;
    column-gap: 12px;
  }
}

.icon-absolute-top {
  top: 30%;
  @media screen and (min-width: 390px) and (max-width: 720px) {
    top: 20%;
  }
}

.text-absolute-bottom {
  bottom: 20%;
  @media screen and (min-width: 390px) and (max-width: 720px) {
    bottom: 5%;
  }
}

.standard-button-container {
  background-color: theme(colors.mainBlack);
  width: calc(100% - 70px);
  @media screen and (min-width: 390px) and (max-width: 720px) {
    width: 100%;
    padding: 0 20px;
  }
}

/* 추천 로직 아이템 선택시 */
.selected-item {
  color: theme(colors.mainGreen);
}

/* Text Flow */
.text-flow-on-hover {
  white-space: nowrap;
  /* width: inherit; */
}

.text-flow-on-hover:hover {
  animation: textFlow 5s linear infinite;
}

@keyframes textFlow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bill-background-side:before,
.bill-background-side:after {
  display: block;
  content: '';
  position: relative;
  width: 100%;
  background: url('./assets/imgs/billBackground.png') center / contain;
  height: 16px;
}
.bill-background-side:before {
  top: -15px;
  height: 16px;
}
.bill-background-side:after {
  bottom: -15px;
  transform: rotate(180deg);
}

.profile {
  display: block;
  content: '';
  position: relative;
  background: url('./assets/imgs/Profile.png') center / contain;
  width: 100%;
  height: 116px;
  background-repeat: no-repeat;
  margin-top: 28px;
}
.select {
  background: url('./assets/imgs/SelectImg.png') center / contain;
  width: 100%;
  height: 36px;
  display: block;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  top: 100px;
  left: 60px;
}