@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    font-family: 'NeoDunggeunmoPro-Regular', 'DungGeunMo', 'AppleSDGothicNeo',
      'Noto Sans KR', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    @media screen and (min-width: 720px) {
      font-size: 22px;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
}

@layer components {
  .layout-screen-width {
    @apply mx-auto h-screen overflow-y-auto;

    @screen mobile {
      max-width: theme('screens.mobile');
    }

    @screen desktop {
      max-width: theme('screens.desktop');
    }
  }

  .genre-selector-container {
    @apply grid grid-cols-3 gap-x-10 gap-y-16 p-20;
  }

  .genre-icon-size {
    @apply w-60 h-60;

    @screen mobile {
      width: 60px;
      height: 60px;
    }

    @screen desktop {
      width: 90px;
      height: 90px;
    }
  }

  .genre-icon-position {
    @apply absolute left-[50%] translate-x-[-50%];

    @screen mobile {
      position: absolute;
      top: 30px;
    }

    @screen desktop {
      position: absolute;
      top: 40px;
    }
  }

  .genre-text-size {
    @apply absolute left-[50%] translate-x-[-50%] whitespace-nowrap;

    @screen mobile {
      font-size: 16px;
      bottom: 15px;
    }
    @screen desktop {
      font-size: 28px;
      bottom: 20px;
    }
  }

  .top-track-grid {
    @apply grid grid-flow-col grid-rows-4 gap-y-10 gap-x-10  overflow-x-scroll;
  }

  .search-item-hover {
    @apply bg-mainWhite text-mainBlack;
  }
}

/* 추천 로직 아이템 선택시 */
.selected-item {
  color: theme(colors.mainGreen);
}

/* Text Flow */
.text-flow-on-hover {
  white-space: nowrap;
}
.group:hover .text-flow-on-hover {
  animation: textFlow 5s linear infinite;
}
.text-flow-on-hover:hover {
  animation: textFlow 5s linear infinite;
}

@keyframes textFlow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bill-background-side:before,
.bill-background-side:after {
  display: block;
  content: '';
  position: relative;
  width: 100%;
  background: url('./assets/imgs/billBackground.png') center / contain;
  height: 16px;
}
.bill-background-side:before {
  top: -15px;
  height: 16px;
}
.bill-background-side:after {
  bottom: -15px;
  transform: rotate(180deg);
}

.profile {
  display: block;
  content: '';
  position: relative;
  background: url('./assets/imgs/Profile.png') center / contain;
  width: 100%;
  height: 116px;
  background-repeat: no-repeat;
  margin-top: 28px;
}
.select {
  background: url('./assets/imgs/SelectImg.png') center / contain;
  width: 100%;
  height: 36px;
  display: block;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  top: 100px;
  left: 60px;
}
.inputText {
  width: 520px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.loginText {
  width: 520px;
}
.musicListGreen {
  background: url(./assets/imgs/musicListGreen.png);
}
.musicList {
  background: url(./assets/imgs/musicList.png);
}
.album {
  background: url(./assets/imgs/album.png) center / contain;
}
.more {
  background: url(./assets/imgs/more.png) center / contain;
}
.moreCircle {
  transform: rotate(180deg);
}
.listMenu {
  background: url(./assets/imgs/listmenu.png) center / contain;
}

@media screen and (min-width: 390px) and (max-width: 720px) {
  .inputText {
    width: 320px;
  }
  .loginText {
    width: 320px;
  }
  .container {
    width: 320px;
  }
  .more {
    left: 64px;
  }
  .moreCircle {
    left: 120px;
  }
  .listMenu {
    left: 66px;
    z-index: 1;
  }
  .musicList {
    z-index: 2;
  }
  .musicListGreen {
    z-index: 2;
  }
  .musicTitle {
    width: 150px;
    font-size: 16px;
  }
}

@media screen and (max-width: 390px) {
  .inputText {
    width: 320px;
  }
  .loginText {
    width: 320px;
  }
  .container {
    width: 320px;
  }
  .more {
    left: 84px;
  }
  .moreCircle {
    left: 120px;
  }
  .listMenu {
    left: 66px;
    z-index: 1;
  }
  .musicListGreen {
    z-index: 2;
  }
  .musicTitle {
    width: 150px;
    font-size: 14px;
  }
}
